    <?php
    
    $value = __ECOMMERCE_SERVICE__->products(__HEADER_QUERY__['2']); 
                
    ?>
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0"></h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/shop/">Shop</a></li>
            <li class="current"><?php e($value['title']); ?></li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
    <?php 

    e(use_template('product.template',
    ['{PRODUCT_TITLE}','{PRODUCT_PRICE}','{PRODUCT_IMAGE}','{PRODUCT_CATEGORY}','{PRODUCT_LINK}', '{PRODUCT_DESCRIPTION}','{PRODUCT_STOCK}','{PRODUCT_SALE}'],
    [$value['title'],$value['price'],_web_media_("/@media/".$value['image']),$value['category'],"/product/".$value['id']."/", $value['description'],'Items In Stock: '.$value['stock'],$value['sale'],                                                     4])
    
    );
            
    ?>
  </main>
 